{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/register.css' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div> <!-- "Account Registered" popup message for new accounts -->
        {% endfor %}                    <!-- Posts to whatever page you send the user to after registration -->
    {% endif %}
    <div class="content">
        <form method="POST">
            {% csrf_token %}
                {{ form|crispy }} <!-- This is referencing the form context variable from users/views -->
            <div class="button-submit">
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <div class="acc-log">
            <small>Already Have An Account? <a href="{% url 'login' %}">Sign In</a></small>
        </div>
    </div>
</body>
</html>